/*Color palet from Color Hunt https://colorhunt.co/palette/35394126282b5f85db90b8f8 */
/* color codes main: #353941 secondary: #26282B third: #5F85DB font: #90B8F8*/


/*Base sitewide css*/

body {
    background-color: #353941;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*Specific div styles*/


.HeaderStyle {
    align-items: center;
    color: #90B8F8;
}

.CategorySelect {
    background-color: #26282B;
    color: #90B8F8;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
}
.QuizAnswerBox {

    background-color: #26282B;
    color: #90B8F8;
    padding: 30px;
    margin: 40px;
    width: 1000px;
    border-radius: 10px;
}
.QuizAnswerBox button{
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.QuizAnswerBox input{
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.QuizStarted{
    color: #90B8F8;
}
.QuizButtons{
    display: flex;

    flex-direction: row;
    padding: 20px;
    margin:20px;
}
.QuizButtons button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    border-style: none;
    background-color: #26282B;
    color: #90B8F8;
    cursor: pointer;
}
.HighScoreLeaderboard{

    background-color: #26282B;
    border-radius: 10px;
    width: 500px;
}
.HighScoreLeaderboard h2 {
    color: #90B8F8;
}
.HighScoreLeaderboard li{
    color: #90B8F8;
    list-style-type: none;
}


/*end*/
.end_block{
    flex-direction: column;
    color: #90B8F8;
}

.end_quizscore{
    background-color: #26282B;
    width: 300px;
    border-radius: 10px;
}
.end_quizscore button{
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #5F85DB;
}